.compositions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-content: center;

}

.challenges {
    display: none;
}

.composition:hover .challenges {
    display: block;
}