body {
    font-size: 0.95em !important;
}

label:hover {
    cursor: pointer;
}

.bg_img {
    background-image: url("/static/img/Tahm_Kench_OriginalSkin.jpg");
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(4px) saturate(125%);
    transform: scale(1.20);
    opacity: 0.3;
    z-index: -1;
}

.active {
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
}

.socials {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 2em;
}

.socials a {
    width: 45px;
    text-align: center;
}


/* tooltip mainly from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.tooltip_ {
    position: relative;
    display: inline-block;
    font-style: italic;
    border-bottom: 1px dotted white;
}

.tooltip_ .tooltip_text {
    visibility: hidden;
    font-weight: normal;
    background-color: rgba(20, 20, 20, 0.85);
    width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    left: 20px;
    top: calc(-50%);
    z-index: 1;
}

.tooltip_:hover .tooltip_text {
    visibility: visible;
}