label:hover {
    cursor: pointer;
}

h2,
h3,
h4 {
    padding-top: 30px;
}

.bg_img {
    background-image: url("/static/img/tahm_kench/TahmKench_0.jpg");
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(3px) saturate(180%);
    transform: scale(1.20) scaleX(-1);
    opacity: 0.2;
    z-index: -1;
}

.hide {
    display: none;
}

.active {
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
}

.socials {
    flex-direction: row;
    text-align: center;
    font-size: 2em;
}

.socials a {
    width: 45px;
    text-align: center;
}


/* tooltip mainly from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.tooltip_,
.tooltip_simple {
    position: relative;
    display: inline-block;
}

.tooltip_ {
    font-style: italic;
    border-bottom: 1px dotted white;
    position: relative;
}

.tooltip_text {
    pointer-events: none;
    visibility: hidden;
    font-weight: normal;
    background-color: rgba(20, 20, 20, 0.85);
    width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    left: 50px;
    top: calc(-50%);
    z-index: 1;
}

.tooltip_below {
    left: calc(-125px + 50%);
    top: calc(100% + 5px);
}

.tooltip_:hover .tooltip_text {
    visibility: visible;
}

.tooltip_simple:hover .tooltip_text {
    visibility: visible;
}

.custom_control {
    background-color: transparent !important;
    color: white !important;
}

.custom_control * {
    color: black !important;
}

.challenges_select {
    color: white;

    border: 1px solid #fff;
    background-color: transparent;
}

.challenges_select * {
    color: black;
}