body {
    font-size: 0.95em !important;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 20px !important;
}

footer {
    text-align: center;
}

.bg_img {
    background-image: url("/static/img/Tahm_Kench_OriginalSkin.jpg");
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    transform: scale(1.05);
    opacity: 0.3;
    z-index: -1;
}

.github {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 2em;
}


/* tooltip mainly from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.tooltip_ {
    position: relative;
    display: inline-block;
    font-style: italic;
    border-bottom: 1px dotted white;
}

.tooltip_ .tooltip_text {
    visibility: hidden;
    background-color: rgba(20, 20, 20, 0.85);
    width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    left: 20px;
    top: calc(-50%);
    z-index: 1;
}

.tooltip_:hover .tooltip_text {
    visibility: visible;
}

.UNRANKED {
    background-color: #ffffff;
}

.IRON {
    background-color: #c5ccd7;
}

.BRONZE {
    background-color: #d09888;
}

.SILVER {
    background-color: #a4b0c1;
}

.GOLD {
    background-color: #e5bb82;
}

.PLATINUM {
    background-color: #88d6a7;
}

.DIAMOND {
    background-color: #7a9ec7;
}

.MASTER {
    background-color: #e753ff;
}

.GRANDMASTER {
    background-color: #fa8c85;
}

.CHALLENGER {
    background-color: #53b1ff;
}