html {
    overflow-y: scroll;
}

@media only screen and (max-width: 920px) {
    #tool_div {
        flex-direction: column !important;
        gap: 10px;
    }
}

.table_challenges td {
    padding: 1px 10px;
}

.table_challenges thead tr td {
    font-weight: bold;
}

.table_challenges th {
    padding: 1px 10px;
    cursor: pointer;
}

.table_challenges td.less_pad {
    padding: 1px 1px !important;
}

.table_challenges th.less_pad {
    padding: 1px 1px !important;
}

.table_challenges td label {
    display: block;
}

.challenge_tr {
    color: white;
    opacity: 0.3;
    transition: opacity 0.3s, color 0.3s;
}

.challenge_tr.selected {
    color: yellow !important;
}

.challenge_tr.checked {
    opacity: 1.0 !important;
}

#btn_optimize_selection {
    text-align: center;
}

#champions_pool {
    margin: 0px auto;
    display: flex;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    user-select: none;
    min-height: 770px;
}

.champion {
    position: relative;
    width: 1px;
}

.champion_img {
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    opacity: 0.5;
    transition: opacity 0.3s, border 0.3s;
}

.champion_img:hover {
    cursor: pointer;
}

.champion_img.selected {
    border: 3px solid yellow !important;
}

.champion_img.checked {
    opacity: 1.0 !important;
}

.champion_role {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

.challenge_selection_img {
    width: 21px;
    height: 21px;
}

.mastery_level {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1em;
    font-weight: bold;
    margin: 2px 6px;
    opacity: 0.7;
    pointer-events: none;
}