@media only screen and (max-width: 920px) {
    #tool_div {
        flex-direction: column !important;
        gap: 10px;
    }
}

.custom_table td {
    padding: 1px 10px;
}

.custom_table th {
    padding: 1px 10px;
}

.custom_table td.less_pad {
    padding: 1px 1px !important;
}

.custom_table th.less_pad {
    padding: 1px 1px !important;
}

.custom_table td label {
    display: block;
}

.challenge_tr {
    color: white;
    opacity: 0.3;
    transition: opacity 0.3s, color 0.3s;
}

.challenge_tr.selected {
    color: yellow !important;
}

.challenge_tr.checked {
    opacity: 1.0 !important;
}

#champions_pool {
    margin: 0px auto;
    display: flex;
    height: 100%;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    user-select: none;
}

.champion_img {
    width: 77px;
    height: auto;
    border: 3px solid transparent;
    opacity: 0.3;
    transition: opacity 0.3s, border 0.3s;
}

.champion_img.selected {
    border: 3px solid yellow !important;
}

.champion_img.checked {
    opacity: 1.0 !important;
}