.champion_img {
    width: 83px;
    height: auto;
    transition: opacity 0.2s;
}

.challenge_label {
    transition: 0.2s;
}

.custom-table tr td {
    padding: 1px 5px;
}

#champions_pool {
    margin: 0px 10px;
    display: flex;
    height: 100%;
    align-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    user-select: none;
}

#champions_selected {
    position: fixed;
    bottom: 25px;
    /* (100% - left menu - this menu) * 0.5 */
    right: calc((100% - 390px - 600px) * 0.5);
    width: 600px;
    padding: 6px;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-evenly;
}

#champions_selected img {
    border: 1px solid rgba(255, 255, 255, .2);
    width: 85px;
    height: 85px;
}