{% extends "layout.html" %}
{% set active_page = "challenges_intersection" %}
{% block title %}Challenge Intersections{% endblock %}
{% block head %}<link rel="stylesheet" href="/static/css/challenges_intersection.css">{% endblock %}
{% block navbar %}
  <ul class="navbar-nav ms-auto mt-2"">
    {% if total_points %}
      <li class="nav-item">
        <img height="45px"
             src="/static/img/challengecrystal/{{ total_points['level'].lower()}}.ls_c2.png"
             alt="{{ total_points['level'].lower()}}">
      </li>
      <li class="p-2">
        <span class="badge rounded-pill text-bg-light">{{ total_points['current'] }} pts.</span>
      </li>
    {% endif %}
    {% if error %}<li class="nav-item text-danger fw-bold">{{ error }}</li>{% endif %}
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item mx-3">
      <input id="summoner"
             type="text"
             class="form-control form-control-dark text-bg-dark"
             placeholder="Summoner name..."
             aria-label="Search"
             value="{{ summoner }}">
    </li>
    <li class="nav-item">
      <select id="region" class="form-select form-control-dark text-bg-dark">
        {% for region_ in regions %}
          {% if region and region_.lower() == region.lower() %}
            <option name="{{ region }}" selected="selected">
              {{ region_ }}
            </option>
          {% else %}
            <option name="{{ region }}">
              {{ region_ }}
            </option>
          {% endif %}
        {% endfor %}
      </select>
    </li>
    <li class="nav-item">
      <button id="search" type="button" class="btn btn-dark mx-3">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </li>
  </ul>
{% endblock %}
{% block main %}
  <input id="search_champion" type="search" value="">
  <div id="tool_div" class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0">
      <table id="table_challenges" class="custom_table mb-1">
        <thead>
          <tr>
            <th role="columnheader" data-sort-method="none"></th>
            <th role="columnheader" class="text-end">#</th>
            <th role="columnheader">Challenge</th>
            <th role="columnheader" data-sort-method="none"></th>
            <th role="columnheader">Label</th>
            <th role="columnheader" class="less_pad">C</th>
            <th role="columnheader" class="less_pad" data-sort-method="none">/</th>
            <th role="columnheader" class="less_pad">R</th>
            <th role="columnheader" data-sort-default colspan="2" class="text-left">Progress</th>
          </tr>
        </thead>
        {% for i, challenge in challenges %}
          <tr id="challenge_tr_{{i}}" class="challenge_tr checked">
            <td>
              <input id="challenge_cb_{{i}}"
                     class="challenge_cb"
                     type="checkbox"
                     data-id="{{i}}"
                     data-qte="{{ challenge['qte'] }}">
            </td>
            <!-- fixed width to avoid column resized on change -->
            <td class="text-end" width="38px">
              <span id="challenge_qte_{{ i }}"
                    class="challenge_qte"
                    data-maxqte="{{ challenge['champions_l'] }}">
                {{ challenge['champions_l'] }}
              </span>
            </td>
            <td>
              <label id="challenge_label_{{i}}"
                     class="challenge_label"
                     for="challenge_cb_{{ i }}">
                {{ challenge['challenge_name'] }}
              </label>
            </td>
            <td>
              <span class="tooltip_">?
                <span class="tooltip_text">{{ challenge["config"]["localizedNames"]["en_US"]["description"] }}</span>
              </span>
            </td>
            <td>
              {% if 'label' in challenge %}{{ challenge['label'] }}{% endif %}
            </td>
            <td class="less_pad">
              <span id="challenge_current_selection_{{i}}">0</span>
            </td>
            <td class="less_pad">/</td>
            <td class="less_pad">
              <span id="challenge_requirement_{{ i }}">{{ challenge['qte'] }}</span>
            </td>
            {% if summoner_progress %}
              <td data-sort="{{ summoner_progress[challenge['riot_id']]['value'] }}">
                {% if summoner_progress[challenge['riot_id']]['level'] != "unranked" %}
                  <img src="https://raw.communitydragon.org/latest/game/assets/challenges/config/{{ challenge['riot_id'] }}/tokens/{{ summoner_progress[challenge['riot_id']]['level'] }}.png"
                       height="21px">
                {% else %}
                  <svg height="21px" width="21px">
                    <circle cx="10" cy="10" r="9" stroke="white" fill="transparent" />
                  </svg>
                {% endif %}
              </td>
              <td data-sort="{{ summoner_progress[challenge['riot_id']]['value'] }}"
                  class="text-center less_pad">
                <span>
                  {{ summoner_progress[challenge['riot_id']]['value'] }}
                  {% if summoner_progress[challenge['riot_id']]['next_threshold'] %}
                    / {{ summoner_progress[challenge['riot_id']]['next_threshold'] }}
                  {% endif %}
                </span>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
      <button id="btn_reset_filters" type="button" class="btn btn-dark">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <div id="champions_pool">
      {% for i, champion in champions_keys %}
        <img id="champion_{{ champion }}"
             class="champion_img"
             src="/static/datadragon_cache/champions_img/{{ champion }}.png"
             alt="{{ champion }}"
             data-champion_name="{{ champion }}"
             data-champion_display_name="{{ champions[champion]["name"] }}">
      {% endfor %}
    </div>
    <div>
      <button id="btn_reset_selection" type="button" class="btn btn-dark">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button id="btn_copy" type="button" class="btn btn-dark">
        <i class="fa-solid fa-copy"></i>
      </button>
      <button id="btn_search_champion" type="button" class="btn btn-dark">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
  <script src="/static/js/challenges_intersection.js"></script>
{% endblock %}
