{% extends "layout.html" %}
{% set active_page = "communities" %}
{% block title %}Communities{% endblock %}
{% block head %}{% endblock %}
{% block main %}
    <div class="container">
        <h1>Tahm-Ken.ch</h1>
        <p>The Tahm-Ken.ch official discord server.</p>
        <ul>
            <li>
                <img src="https://cdn.discordapp.com/icons/1008412579678400624/61130cfec5cff77e8b2588e8d199e408.webp?size=64"
                     class="rounded-circle">
                <a href="https://discord.gg/aHs3uDraNU" class="link">Tahm-Ken.ch Discord</a>
            </li>
        </ul>
        <h1>Challenges communities</h1>
        <p class="text-secondary" style="font-size:0.8em;">
            You can ask on the Tahm-Ken.ch Discord server if you want to add your community on the site (it doesn't need to be a Discord server). You must be admin of this community.
        </p>
        <ul>
            <li>
                <img src="https://cdn.discordapp.com/icons/983967240812625921/7fbd84e048373dea20cb599a9995f241.webp?size=64"
                     class="rounded-circle">
                <a href="https://discord.gg/FJXAvqxw6T" class="link">League Challenges Discord</a>
            </li>
        </ul>
    </div>
{% endblock %}
