{% extends "layout.html" %}
{% set active_page = "compositions" %}
{% block title %}Composition - {{ challenge_name }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/compositions.css">{% endblock %}
{% block main %}
<div class="container-fluid">
    <h1>{{ challenge_name }}</h1>
    {% if constraints %}
    Must have:
    <ul>
        {% for constraint in constraints %}<li>{{ constraint }}</li>{% endfor %}
    </ul>
    {% endif %}
    {% for notice in notices %}<p class="text-danger">{{ notice }}</p>{% endfor %}
    <div class="m-3 text-center">
        <span>Must include :</span>
        <select id="include_select" class=" custom_control m-2">
        </select>
        <span>Must exclude :</span>
        <select id="exclude_select" class="custom_control m-2">
        </select>
        <div id="filters"></div>
    </div>
    {% for number, comps in by_number.items() %}
    <h2>{{ number }} challenges</h2>
    <div class="compositions">
        {% for champions_, challenges_ids, attribution_score in comps %}
        <div class="composition tooltip_">
            {% for champion in champions_ %}<img src="/static/cache/datadragon/champions_img/{{ champion }}.png"
                alt="{{ champions[champion]['name'] }}" data-champion="{{ champion }}" width="65px">{% endfor %}
            <div class="challenges tooltip_text tooltip_below">
                Attribution score: {{ "%.2f"|format(attribution_score) }}
                <ul>
                    {% for challenge_id in challenges_ids %}
                    {% set challenge_config = challenges_config[challenge_id] %}
                    <li>{{ challenge_config["localizedNames"][layout["language"]]["name"] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script src="/static/js/compositions.js"></script>
{% endblock %}