{% extends "layout.html" %}
{% block title %}Composition - {{ challenge_name }}{% endblock %}
{% block head %}<link rel="stylesheet" href="/static/css/compositions.css">{% endblock %}
{% block main %}
    <h1>{{ challenge_name }}</h1>
    <div class="m-3 text-center">
        <span>Filters :</span>
        <select id="filter_select" class="m-2" style="width:100px;">
        </select>
        <div id="filters">
        </div>
    </div>
    {% for number, comps in by_number.items() %}
        <h2>{{ number }} challenges</h2>
        <div class="compositions">
            {% for champions_, challenges in comps %}
                <div class="composition" style="display: block;">
                    {% for champion in champions_ %}
                        <img src="/static/datadragon_cache/champions_img/{{ champion }}.png"
                             alt="{{ champions[champion]["name"] }}"
                             data-champion="{{ champion }}"
                             class="img-responsive"
                             width="65px">
                    {% endfor %}
                    <ul id="challenges_{{ i }}" class="challenges">
                        {% for challenge in challenges %}<li>{{ challenge }}</li>{% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <script src="/static/js/compositions.js"></script>
{% endblock %}
