{% extends "layout.html" %}
{% set active_page = "custom_compositions" %}
{% block title %}Custom compositions{% endblock %}
{% block head %}{% endblock %}
{% block main %}
    <div class="container">
        {% if error %}
        <div class="text-danger">{{ error }}</div>
        {% endif %}

        <h1>Custom compositions</h1>

        <p>Our algorithm will try to find good composition with multiple challenge with champions that you usually play (based on your masteries).</p>

        <form id="custom_compositions_form">
            <div class="form-group py-3">
                <label for="region">Region :</label>
                <select class="form-control" id="region">
                    {% for region_ in regions %}
                        {% if region and region_.lower() == region.lower() %}
                            <option name="{{ region }}" selected="selected">
                                {{ region_ }}
                            </option>
                        {% else %}
                            <option name="{{ region }}">
                                {{ region_ }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% for i, role in roles %}
                <div class="form-group py-3">
                    <label for="summoner-{{i}}">{{ role }} :</label>
                    <input type="text" class="form-control summoners" id="summoner-{{i}}" placeholder="Summoners name" required>
                </div>
            {% endfor %}
            <div class="py-3">
                <input id="find" type="submit" value="Find" class="btn btn-primary">
            </div>
        </form>
    </div>
    <script src="/static/js/custom_compositions.js"></script>
{% endblock %}
