{% extends "layout.html" %}
{% set active_page = "faq" %}
{% block title %}FAQ{% endblock title %}
{% block head %}{% endblock head %}
{% block main %}
    <div class="container">
        <h1>Frequently Asked Questions</h1>

        <h3>The site is cool but _____ is missing. How can I contact you ?</h3>
        <div>
            <p>
                You can join the discord server and give us feedback : <a href="https://discord.gg/aHs3uDraNU">https://discord.gg/aHs3uDraNU</a>.
                Tell me what you think of the site and your awesome idea, I will probably add it !
            </p>
            <p>
                If you have programming skills you can find the repository on GitHub : <a href="https://github.com/TheRaphael0000/tahm-ken.ch">https://github.com/TheRaphael0000/tahm-ken.ch</a>.
                Don't hesitate to create pull requests, I won't eat you :D.
            </p>
        </div>

        <h3>Why "Tahm-Ken.ch ?"</h3>
        <div>
            <ul>
                <li>Tahm Kench is badass</li>
                <li>It's easy to remember</li>
                <li>I live in Switzerland (.ch is the TLD for Switzerland)</li>
                <li>The domain name was available</li>
            </ul>
            <div class="text-secondary" style="font-size:0.8em;">
                Message to Riot Games :
                I know that you are really cautious about League's IP, if you have any problem with the domain name, contact me so we can talk it through.
            </div>
        </div>

        <h3>I saw a guy pretending to be you in my game.</h3>
        <div>
            <p>
                My summoners name is 'Neeko Tesla' and I play on EUW. Here is my op.gg : <a href="https://euw.op.gg/summoners/euw/Neeko%20Tesla">https://euw.op.gg/summoners/euw/Neeko%20Tesla</a>
            </p>
            <p>But outside of League my nickname is TheRaphael0000, on Discord my name is TheRaphael0000#4768. Otherwise it's not me .-.</p>
            <div class="text-secondary" style="font-size:0.8em;">
                Yeah this section exist 'cause when I see people using 'optimized compositions', I can't help but ask them if they used the site, and if they do I tell them that I'm the dev. hihihi.
            </div>
        </div>

        <h3>Will the site be multi-language ?</h3>
        <div>
            <p>I plan to do it but it is not my top priority.</p>
        </div>
    </div>
{% endblock main %}
