{% extends "layout.html" %}
{% set active_page = "faq" %}
{% block title %}FAQ{% endblock %}
{% block head %}{% endblock %}
{% block main %}
    <div class="container">
        <div class="accordion accordion-flush" id="accordionFlush">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading1">
                    <button class="accordion-button collapsed bg-dark text-white"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse1"
                            aria-expanded="false"
                            aria-controls="flush-collapse1">
                        The site is cool but _____ is missing. How can I contact you ?
                    </button>
                </h2>
                <div id="flush-collapse1"
                     class="accordion-collapse collapse bg-dark text-white"
                     aria-labelledby="flush-heading1"
                     data-bs-parent="#accordionFlush">
                    <div class="accordion-body">
                        <p>
                            You can join the discord server and give us feedback : <a href="https://discord.gg/aHs3uDraNU">https://discord.gg/aHs3uDraNU</a>.
                            Tell me what you think of the site and your awesome idea, I will probably add it !
                        </p>
                        <p>
                            If you have programming skills you can find the repository on GitHub : <a href="https://github.com/TheRaphael0000/challenges_intersection_league">https://github.com/TheRaphael0000/challenges_intersection_league</a>.
                            Don't hesitate to create pull requests, I won't eat you :D.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading2">
                    <button class="accordion-button collapsed bg-dark text-white"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse2"
                            aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                        Why "Tahm-Ken.ch ?"
                    </button>
                </h2>
                <div id="flush-collapse2"
                     class="accordion-collapse collapse bg-dark text-white"
                     aria-labelledby="flush-heading2"
                     data-bs-parent="#accordionFlush">
                    <div class="accordion-body">
                        <ul>
                            <li>Tahm Kench is badass</li>
                            <li>It's easy to remember</li>
                            <li>I live in Switzerland (.ch is the TLD for Switzerland)</li>
                            <li>The domain name was available</li>
                        </ul>
                        <div class="text-secondary" style="font-size:0.8em;">
                            Message to Riot Games :
                            I know that you are really cautious about League's IP, if you have any problem with the domain name, contact me so we can talk it through.
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading3">
                    <button class="accordion-button collapsed bg-dark text-white"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse3"
                            aria-expanded="false"
                            aria-controls="flush-collapse3">
                        I saw a guy pretending to be you in my game.
                    </button>
                </h2>
                <div id="flush-collapse3"
                     class="accordion-collapse collapse bg-dark text-white"
                     aria-labelledby="flush-heading3"
                     data-bs-parent="#accordionFlush">
                    <div class="accordion-body">
                        <p>
                            My summoners name is 'Neeko Tesla' and I play on EUW. Here is my op.gg : <a href="https://euw.op.gg/summoners/euw/Neeko%20Tesla">https://euw.op.gg/summoners/euw/Neeko%20Tesla</a>
                        </p>
                        <p>
                            But outside of League my nickname is TheRaphael0000.
                        </p>
                        <p>
                            Otherwise it's not me .-.
                        </p>
                        <div class="text-secondary" style="font-size:0.8em;">
                            Yeah this section exist 'cause when I see people using 'optimized compositions', I can't help but ask them if they used the site, and if they do I tell them that I'm the dev. hihihi.
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading4">
                    <button class="accordion-button collapsed bg-dark text-white"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse4"
                            aria-expanded="false"
                            aria-controls="flush-collapse4">
                        Will the site be multi-language ?
                    </button>
                </h2>
                <div id="flush-collapse4"
                     class="accordion-collapse collapse bg-dark text-white"
                     aria-labelledby="flush-heading4"
                     data-bs-parent="#accordionFlush">
                    <div class="accordion-body">
                        I plan to do it but it is not my top priority.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
