{% extends "layout.html" %}
{% set active_page = "faq" %}
{% block title %}FAQ{% endblock title %}
{% block head %}{% endblock head %}
{% block main %}
<div class="container">
    <h1>Frequently Asked Questions</h1>

    <h3>The site is cool but _____ is missing. How can I contact you ?</h3>
    <div>
        <p>
            You can join the discord server and give us feedback : <a
                href="https://discord.gg/aHs3uDraNU">https://discord.gg/aHs3uDraNU</a>.
            Tell me what you think of the site and your awesome idea, I will probably add it !
        </p>
        <p>
            If you have programming skills you can find the repository on GitHub : <a
                href="https://github.com/TheRaphael0000/tahm-ken.ch">https://github.com/TheRaphael0000/tahm-ken.ch</a>.
            Don't hesitate to create pull requests, I won't eat you :D.
        </p>
    </div>

    <h3>Why "Tahm-Ken.ch ?"</h3>
    <div>
        <ul>
            <li>Tahm Kench is badass</li>
            <li>It's easy to remember</li>
            <li>I live in Switzerland (.ch is the TLD for Switzerland)</li>
            <li>The domain name was available</li>
        </ul>
        <div class="text-secondary" style="font-size:0.8em;">
            Message to Riot Games :
            I know that you are really cautious about League's IP, if you have any problem with the domain name, contact
            me so we can talk it through.
        </div>
    </div>

    <h3>Will the site be multi-language ?</h3>
    <div>
        <p>I used to say that I'll do it. But since I didn't do it yet. I guess I'll never do it.</p>
    </div>

    <h3>Any new projects?</h3>
    <div>
        <p>If I do another project related to League that would probably be a desktop app with the LCU. I did a while
            back a proof of concept called <a href="https://github.com/TheRaphael0000/un-ben.ch">Un-ben.ch</a> but never
            really finished it.</p>
    </div>
</div>
{% endblock main %}