<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Meta tags -->
        <meta charset="UTF-8">
        <meta name="description"
              content="Find optimal composition for teamwork challenges in League using this open source tool">
        <meta name="keywords"
              content="League of Legends, League, Challenges, Optimization">
        <meta name="author" content="TheRaphael0000">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        - Challenges Intersections</title>
        <!-- Custom CSS/JS -->
        <link rel="stylesheet" href="/static/css/layout.css">
        {% block head %}{% endblock %}
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
              crossorigin="anonymous">
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TT2F05HDD"></script>
        <script src="/static/js/analytics.js"></script>
    </head>
    <body class="bg-dark text-white">
        <header class="broder border-bottom border-white">
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Challenges Intersections</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Tool</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Optimized compositions
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark"
                            aria-labelledby="navbarDropdown">
                            {% for composition in compositions %}
                                <li>
                                    <a class="dropdown-item" href="/compositions/{{ composition }}">{{ composition }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://github.com/TheRaphael0000/challenges_intersection_league/">
                        GitHub</i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="p-3">
        {% block main %}{% endblock %}
    </main>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</body>
</html>
