{% extends "layout.html" %}

  {% block main %}

  <div class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0">
      <table class="table table-dark table-sm">
        {% for i, challenge in challenges %}
        <tr>
          <td>
            <input id="challenge_cb_{{i}}" class="challenge_cb" type="checkbox" data-id="{{i}}"
              data-qte="{{ challenge['qte'] }}">
          </td>
          <td>
            <label id="challenge_label_{{i}}" class="challenge_label" for="challenge_cb_{{ i }}">
              {{ challenge['challenge_name'] }}
            </label>

          </td>
          <td>
            {% if 'region' in challenge %}
            {{ challenge['region'] }}
            {% endif %}
          </td>

          <td class="text-end" width="60px">
            <!-- fixed width to avoid column resized on change -->
            <span id="challenge_qte_{{ i }}" class="challenge_qte" data-maxqte="{{ challenge['champions_l'] }}">
              {{ challenge['champions_l'] }}
            </span> / {{ challenge['qte'] }}
          </td>
        </tr>
        {% endfor %}
      </table>
      <button id="btn_reset" type="button" class="btn btn-light mx-3 my-1">Reset</button>
      <button id="btn_copy" type="button" class="btn btn-light mx-3 my-1">Copy to clipboard</button>
    </div>
    <div id="champions_pool">
      {% for i, champion in champions %}
      <input id="champion_{{ champion }}" class="champion_cb" type="checkbox" data-id="{{ i }}"
        data-champion_name="{{champion}}" disabled>
      <label id="champion_label_{{ champion }}" class="label_champion" for="champion_{{ champion }}">
        <img src="https://ddragon.leagueoflegends.com/cdn/12.12.1/img/champion/{{ champion }}.png" alt="{{ champion }}"
          class="img-responsive champion_img" draggable="true" ondragstart="drag(event)"
          data-champion_name="{{ champion }}">
      </label>
      {% endfor %}
    </div>
  </div>

  <div id="champions_selected">
    {% for i in range(5) %}
    <img class="champion_selected" ondrop="drop(event)" ondragover="allowDrop(event)">
    {% endfor %}
  </div>


  <script src="/static/script.js"></script>

  {% endblock %}
