<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Challenges Intersections - League of Legends</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<style media="screen">
  .champion_img {
    width: 85px;
    height: auto;
    object-fit: contain;

    float: left;
  }

  .champion_cb {
    display: none;
  }

  .label_champion {
    opacity: 0.2;
    transition: 0.3s;
  }
</style>

<body class="bg-dark text-white">
  <h1 class="text-center p-3">Challenges Intersections</h1>
  <div class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-2">
      <button id="btn_reset" type="button" class="btn btn-light">Reset</button>
      <form action=".">
        {% for i, challenge in challenges %}
        <input id="challenge_cb_{{i}}" class="challenge_cb" type="checkbox" data-id="{{i}}" data-qte="{{ challenge['qte'] }}">
        <label id="challenge_label_{{i}}" class="challenge_label" for="challenge_cb_{{ i }}">
          {{challenge['challenge_name']}}
          [<span id="challenge_qte_{{ i }}" class="challenge_qte">0</span>/{{ challenge['qte'] }}]
        </label>
        <br>
        {% endfor %}
      </form>
    </div>
    <div class="d-flex flex-wrap">
      {% for i, champion in champions %}
      <input id="champion_{{ champion }}" class="champion_cb" type="checkbox" data-id="{{ i }}" disabled>
      <label id="champion_label_{{ champion }}" class="label_champion" for="champion_{{ champion }}">
        <img src="https://ddragon.leagueoflegends.com/cdn/12.9.1/img/champion/{{ champion }}.png" alt="{{ champion }}" class="img-responsive champion_img">
      </label>
      {% endfor %}
    </div>
  </div>
</body>


<script type="text/javascript">
  let champion_cb = document.querySelectorAll(".champion_cb")
  let challenge_cb = document.querySelectorAll(".challenge_cb")
  let challenge_label = document.querySelectorAll(".challenge_label")
  let challenge_qte = document.querySelectorAll(".challenge_qte")
  let btn_reset = document.querySelector("#btn_reset")

  for (let cbc of champion_cb) {
    cbc.addEventListener('change', function(e) {
      let label = e.target.nextSibling.nextSibling
      if (e.target.checked) {
        label.style.opacity = "1"
      } else {
        label.style.opacity = "0.2"
      }
    })
  }

  function updateAll() {
    for (let cbc of champion_cb) {
      cbc.dispatchEvent(new Event('change'))
    }
  }

  function setAllChampion(value) {
    for (let cbc of champion_cb) {
      cbc.checked = value
    }
    updateAll()
  }

  function resetChallenge() {
    setAllChampion(false)
    for (let c of challenge_cb) {
      c.checked = false
    }
    for (let c of challenge_qte) {
      c.innerHTML = 0
    }
    for (let c of challenge_label) {
      c.style.opacity = "1.0"
    }
  }

  btn_reset.addEventListener("click", resetChallenge);

  updateAll();

  for (let cbc of challenge_cb) {
    cbc.addEventListener('change', function(e) {
      let checked_challenges = document.querySelectorAll(".challenge_cb:checked")
      let ids = []
      for (let cc of checked_challenges) {
        ids.push(cc.dataset.id)
      }

      if (ids.length <= 0) {
        resetChallenge()
        return
      }

      fetch("/challenge_intersection/" + ids)
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          setAllChampion(false)
          updateAll();
          if (json.intersection.length <= 0)
            return
          for (let c of json.intersection) {
            let el = document.getElementById("champion_" + c)
            el.checked = true
          }
          for (const [challenge, qte] of json.challenges_additional_intersection) {
            let challenge_cb = document.querySelector("#challenge_cb_" + challenge)
            let challenge_qte = document.querySelector("#challenge_qte_" + challenge)
            let challenge_label = document.querySelector("#challenge_label_" + challenge)
            challenge_qte.innerHTML = qte
            if (qte < challenge_cb.dataset.qte)
              challenge_label.style.opacity = "0.2"
            else
              challenge_label.style.opacity = "1.0"
          }
          updateAll();
        })
    })
  }
</script>

</html>
