{% extends "layout.html" %}
{% block title %}Tool{% endblock %}
{% block head %}<link rel="stylesheet" href="/static/css/tool.css">{% endblock %}
{% block navbar %}
  <ul class="navbar-nav ms-auto">
    <li class="nav-item mx-3">
      <input id="summoner"
             type="text"
             class="form-control form-control-dark text-bg-dark"
             placeholder="Summoner name..."
             aria-label="Search"
             value="{{ summoner }}">
    </li>
    <li class="nav-item">
      <select id="region" class="form-select form-control-dark text-bg-dark">
        {% for region_ in regions %}
          {% if region and region_.lower() == region.lower() %}
            <option name="{{ region }}" selected="selected">
              {{ region_ }}
            </option>
          {% else %}
            <option name="{{ region }}">
              {{ region_ }}
            </option>
          {% endif %}
        {% endfor %}
      </select>
    </li>
    <li class="nav-item">
      <button id="search_summoner" type="button" class="btn btn-dark mx-3">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </li>
  </ul>
  <script>
  let region = document.getElementById("region")
  let summoner = document.getElementById("summoner")
  let search = document.getElementById("search")

  function search_summoner() {
    window.location.href = "/tool/" + region.value + "/" + summoner.value
  }

  summoner.addEventListener("keydown", (ele) => {
    if(event.key === 'Enter') {
      search_summoner()
    }
  })
  
  search.addEventListener("click", (ele) => {
      search_summoner()
  })
  </script>
{% endblock %}
{% block main %}
  <div id="tool_div" class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0">
      <table id="table_challenges" class="custom_table mb-1">
        <thead>
          <tr>
            <th role="columnheader" data-sort-method="none"></th>
            <th role="columnheader">#</th>
            <th role="columnheader">Challenge</th>
            <th role="columnheader">Label</th>
            <th role="columnheader" class="less_pad">C</th>
            <th role="columnheader" class="less_pad" data-sort-method="none">/</th>
            <th role="columnheader" class="less_pad">R</th>
            <th role="columnheader" data-sort-default>Progress</th>
          </tr>
        </thead>
        {% for i, challenge in challenges %}
          <tr id="challenge_tr_{{i}}" class="challenge_tr checked">
            <td>
              <input id="challenge_cb_{{i}}"
                     class="challenge_cb"
                     type="checkbox"
                     data-id="{{i}}"
                     data-qte="{{ challenge['qte'] }}">
            </td>
            <!-- fixed width to avoid column resized on change -->
            <td class="text-end" width="38px">
              <span id="challenge_qte_{{ i }}"
                    class="challenge_qte"
                    data-maxqte="{{ challenge['champions_l'] }}">
                {{ challenge['champions_l'] }}
              </span>
            </td>
            <td>
              <label id="challenge_label_{{i}}"
                     class="challenge_label"
                     for="challenge_cb_{{ i }}">
                {{ challenge['challenge_name'] }}
              </label>
            </td>
            <td>
              {% if 'label' in challenge %}{{ challenge['label'] }}{% endif %}
            </td>
            <td class="less_pad">
              <span id="challenge_current_selection_{{i}}">0</span>
            </td>
            <td class="less_pad">/</td>
            <td class="less_pad">
              <span id="challenge_requirement_{{ i }}">{{ challenge['qte'] }}</span>
            </td>
            {% if summoner_progress %}
              <td class="text-center text-dark" data-sort="{{ summoner_progress[challenge['riot_id']]['value'] }}">
                <div class="{{ summoner_progress[challenge['riot_id']]['level'] }}">
                  {{ summoner_progress[challenge['riot_id']]['value'] }}
                  {% if summoner_progress[challenge['riot_id']]['next_threshold'] %}
                   / {{ summoner_progress[challenge['riot_id']]['next_threshold'] }}
                   {% endif %}
                </div>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
      <button id="btn_reset_filters" type="button" class="btn btn-dark">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <div id="champions_pool">
      {% for i, champion in champions %}
        <img id="champion_{{ champion }}"
             class="champion_img"
             src="/static/datadragon_cache/champions_img/{{ champion }}.png"
             alt="{{ champion }}"
             data-champion_name="{{ champion }}">
      {% endfor %}
    </div>
    <div>
      <button id="btn_reset_selection" type="button" class="btn btn-dark">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button id="btn_copy" type="button" class="btn btn-dark">
        <i class="fa-solid fa-copy"></i>
      </button>
    </div>
  </div>
  <script src="/static/js/tool.js"></script>
{% endblock %}
