{% extends "layout.html" %}
{% block title %}Tool{% endblock %}
{% block head %}<link rel="stylesheet" href="/static/css/tool.css">{% endblock %}
{% block main %}
  <div class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0">
      <table class="table table-dark table-sm">
        {% for i, challenge in challenges %}
          <tr id="challenge_tr_{{i}}" class="challenge_tr">
            <td>
              <input id="challenge_cb_{{i}}"
                     class="challenge_cb"
                     type="checkbox"
                     data-id="{{i}}"
                     data-qte="{{ challenge['qte'] }}">
            </td>
            <td class="text-end" width="27px">
              <span id="challenge_qte_{{ i }}"
                    class="challenge_qte"
                    data-maxqte="{{ challenge['champions_l'] }}">
                {{ challenge['champions_l'] }}
              </span>
            </td>
            <td>
              <label id="challenge_label_{{i}}"
                     class="challenge_label"
                     for="challenge_cb_{{ i }}">
                {{ challenge['challenge_name'] }}
              </label>
            </td>
            <td>
              {% if 'region' in challenge %}{{ challenge['region'] }}{% endif %}
            </td>
            <td class="text-end">
              <!-- fixed width to avoid column resized on change -->
              <span id="challenge_current_selection_{{i}}">0</span> / <span id="challenge_requirement_{{ i }}">{{ challenge['qte'] }}</span>
            </td>
          </tr>
        {% endfor %}
      </table>
      <button id="btn_reset" type="button" class="btn btn-light mx-3 my-1">Reset</button>
      <button id="btn_copy" type="button" class="btn btn-light mx-3 my-1">Copy to clipboard</button>
    </div>
    <div id="champions_pool">
      {% for i, champion in champions %}
        <img id="champion_{{ champion }}"
             class="champion_img"
             src="/static/datadragon_cache/champions_img/{{ champion }}.png"
             alt="{{ champion }}"
             data-champion_name="{{ champion }}">
      {% endfor %}
    </div>
  </div>
  <script src="/static/js/tool.js"></script>
{% endblock %}
