[Unit]
Description=Challenges intersection League of Legends
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/tahm-ken.ch/www.tahm-ken.ch/
ExecStart=/usr/bin/python /usr/local/bin/gunicorn --bind unix:/tmp/www.tahm-ken.ch_gunicorn.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
